body {
  background-color: #DDDDDD;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  max-width: 1300px;
}

p {
  font-size: 1em;
  /*font-family: 'Lato', sans-serif;*/
}

address {
  display: inline;
}

img {
  width: 100%;
}

.footer_icon {
  max-width: 32px;
  max-height: 32px;
}
